/* .container{
  margin: 0 auto;
  height: 100%;
} */

img{
  height: 500px;
  width: 100px;
}


/* #map{
  margin-bottom: 10px;
} */
#carouselExampleIndicators{
  padding-top:70px;
}
/* .list-group{
  border-color: white;
} */
